<h1><a href='/'>Home</a></h1>

<h1>Route Details</h1>

<table id= "routeTable">
	<tr>
		<th>Route Name</th>
		<th>Area Name</th>
		<th>State Name</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Type</th>
		<th>Grade</th>
		<th>Pitches</th>
		<th>Approach</th>
		<th>Overview</th>
		<th>First Ascent</th>
		<th>First Ascent Date</th>
		<th>Average Rating</th>
		<th>Number of Ratings</th>
	<tr>

{{#each results}}
	<tr>
		<td>{{this.route_title}}</td>
		<td>{{this.name}}</td>
		<td>{{this.state}}</td>
		<td>{{this.latitude}}</td>
		<td>{{this.longitude}}</td>
		<td>{{this.type}}</td>
		<td>{{this.grade}}</td>
		<td>{{this.pitch_count}}</td>
	        <td>{{this.approach}}</td>
		<td>{{this.overview}}</td>
		<td>{{this.first_ascent}}</td>
		<td>{{this.first_ascent_date}}</td>
		<td>{{this.rating}}</td>
		<td>{{this.rating_count}}</td>
	</tr>
{{/each}}
</table>
<br>
<br>

{{#if userid}}
	<fieldset>
		<legend>Provide Route Rating</legend>
		<form>
			{{#if user_rating}}
				<input type="number" id="rating" name="rating" min=0 max=5 value = {{user_rating}} required>
			{{else}}
				<input type="number" id="rating" name="rating" min=0 max=5 placeholder="Rating" required>
			{{/if}}
			{{#each results}}
				<button onclick=addRating({{this.route_id}}) id="addRatingButton" >Save Rating</button>
			{{/each}}
		</form>	
{{else}}
	<p>Please <a href="/login">login</a> to rate this route.
{{/if}}

<script src="/js/scripts.js"></script>
